@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-primary: hsl(217 91% 60%);
  --color-brand-secondary: hsl(160 84% 39%);
  
  /* UI Colors */
  --color-ui-bg: hsl(0 0% 4%);
  --color-ui-border: rgba(255, 255, 255, 0.1);
  --color-ui-card: rgba(24, 24, 27, 0.5); /* zinc-900/50 */
  --color-ui-text-main: hsl(0 0% 100%);
  --color-ui-text-muted: hsl(240 5% 65%);
  --color-ui-text-dim: hsl(240 4% 46%); /* zinc-500 */
}

:root {
  background-color: var(--color-ui-bg);
  color: var(--color-ui-text-main);
}

body {
  margin: 0;
  padding: 0;
}